<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="webApp_ID" version="4.0">

	<display-name>Sprint5</display-name>
	<servlet>
		<servlet-name>Contacto</servlet-name>
		<servlet-class>cl.controlador.Contacto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.Contacto</servlet-name>
		<url-pattern>/contacto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CrearAdministrativo</servlet-name>
		<servlet-class>cl.controlador.CrearAdministrativo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.CrearAdministrativo</servlet-name>
		<url-pattern>/crearadministrativo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CrearCapacitacion</servlet-name>
		<servlet-class>cl.controlador.CrearCapacitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.CrearCapacitacion</servlet-name>
		<url-pattern>/crearcapacitacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CrearCliente</servlet-name>
		<servlet-class>cl.controlador.CrearCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.CrearCliente</servlet-name>
		<url-pattern>/crearcliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CrearProfesional</servlet-name>
		<servlet-class>cl.controlador.CrearProfesional</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.CrearProfesional</servlet-name>
		<url-pattern>/crearprofesional</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CrearUsuario</servlet-name>
		<servlet-class>cl.controlador.CrearUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.CrearUsuario</servlet-name>
		<url-pattern>/crearusuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>cl.controlador.Inicio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.Inicio</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListarAdministrativo</servlet-name>
		<servlet-class>cl.controlador.ListarAdministrativo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.ListarAdministrativo</servlet-name>
		<url-pattern>/listaradministrativo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListarCapacitacion</servlet-name>
		<servlet-class>cl.controlador.ListarCapacitacion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.ListarCapacitacion</servlet-name>
		<url-pattern>/listarcapacitacion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListarCliente</servlet-name>
		<servlet-class>cl.controlador.ListarCliente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.ListarCliente</servlet-name>
		<url-pattern>/listarcliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListarProfesional</servlet-name>
		<servlet-class>cl.controlador.ListarProfesional</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.ListarProfesional</servlet-name>
		<url-pattern>/listarprofesional</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListarUsuario</servlet-name>
		<servlet-class>cl.controlador.ListarUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.ListarUsuario</servlet-name>
		<url-pattern>/listarusuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>cl.controlador.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>cl.controlador.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cl.controlador.Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	


</web-app>